@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

:root {
  --main-bg-color: #222831;
  --secundary-bg-color:#393e46 ;
  --third-bg-color: #00adb5;
  --four-bg-color: #eeeeee;
}

body {
  font-family: 'Open Sans', sans-serif!important;
  font-family: 'Roboto', sans-serif!important;
}
   

h1,h2,h3, span, p, small, button {
  color: var(--four-bg-color)!important;
}

strong {
  color: var(--third-bg-color)!important;
}

.button {
  background-color: var(--third-bg-color)!important ;
}
.navbar {
  background-color: var(--secundary-bg-color)!important;
}
.pagination a{
  background-color: var(--four-bg-color);
  color: var(--main-bg-color)!important;
}

.card-content {
  background-color: var(--four-bg-color)!important ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content p {
  color: var(--main-bg-color)!important;
  
}

.movie-title {
  text-align: center;
}

.detail {
  display: flex;
  flex-direction: column;
  text-align: initial;
  padding:30px;
  justify-content: center;
}

.text-detail {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: var(--secundary-bg-color);
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.MoviesList-item {
  margin-bottom: 24px;
  max-width: 100%;
  min-width: 100%; 
  transition: 0.1s ease-in;
}

.MoviesList-item:hover
{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.container {
  margin-top: 36px!important;
}

.pagination-total-pages{
  padding: 0 15px;
  color: var(--four-bg-color);
}


.pagination {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.pagination button {
  border: none;
  background: none;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;
}

.pagination button:focus {
  outline: none;
}

.pagination button span {
  font-size: 20px;
}

@media only screen and (min-width: 600px) {

  .detail {
    display: flex;
    flex-direction: column;
    text-align: initial;
    padding: 30px;
    margin: 0 auto;  
    width: 70vw;
    height: 85vh;
  }

  .MoviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
  }

  .MoviesList-item {
    margin-bottom: 24px;
    max-width: 30%;
    min-width: 30%;
  }

  .card-content { 
    min-height: 180px;
    max-height: 180px;
  }

  .image img { 
    min-height: 42vw;
    max-height: 42vw;
  }

  

  .footer-detail {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20px;
  }

}
 

@media only screen and (min-width: 1200px) {
  .MoviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
  }
  .MoviesList-item {
    margin-bottom: 24px;
    max-width: 15vw;
    min-width: 15vw;    
  }
  .card-content {
    min-height: 150px;
    max-height: 150px;
  }

  .image img {
    min-height: 350px;
    max-height: 350px;
  }

  .detail {
    display: flex;
    flex-direction: row;
    text-align: initial;
    padding: 30px;
    width: 100%;
    height: 70vh;
  }
  .footer-detail {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20px;
  }
}